{% if site.gitalk_shortname %}
<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<script type="text/javascript" src="/assets/js/md5.min.js"></script>
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
 
    // gitalk的主要参数
        clientID: '56fa8c4969ded8072ab3',
        clientSecret: 'b7cca5e7de2e37194f623542df1b56dadc36df1f',
        repo: 'demonljt.github.io',
        owner: 'demonljt',
        admin: ['demonljt'],
        id: md5(location.pathname),
        
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->
{% endif %}



