
<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<script type="text/javascript" src="/assets/js/md5.min.js"></script>
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
 
    // gitalk的主要参数
        clientID: 'b45ae3eac5990ebebd26复制刚才生成的clientID',
        clientSecret: '6a2fae076e83420c2b94d735bf469083c6c7af71',
        repo: 'demonljt.github.io',
        owner: 'demonljt',
        admin: ['demonljt'],
        id: md5(location.pathname),
        
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->
